/* VARIABLES */

/* COLORS */
$grisMenu: #F2F2F2;
$grisBotons: #DEDEDE;
$grisFooter: #CCCCCC;
$rosaFormes: #FFE5E7;
$carbassaFormes: #ECCDB1;
$grisIcones: #666666;

/* QUERIES */
$mobile: '(max-width: 480px)';
$tablets: '(max-width: 768px)';