/*
 * BLESS THE SEA CSS *
*/

@import "_fonts.scss";
@import "_variables.scss";

/* GENERIC */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Montserrat;
	font-size: 16px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

h2 {
	font-family: Oswald;
	font-weight: Bold;
	font-size: 5em;

	@media only screen and (max-width: 768px) {
		font-size: 3em;
	}
}

p {
   font-size: 1.3em;
}

a {
   text-decoration: none;
   color: black;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

li {
	text-decoration: none;
	list-style: none;
}

.hidden {
   display: none !important;
}

.hideOnResponsive {
	@media only screen and (max-width: 768px) {
		display: none;	
	}
}

.content {
	width: 100%;
}

.contentButton {
	background-color: $grisBotons;
	padding: 10px 50px;
	width: max-content;
	max-width: calc(100% - 100px);
	font-family: Roboto;
	font-size: 1.9em;
	text-align: center;

	@media only screen and (max-width: 768px) {
		width: max-content;
		max-width: 100%;
		font-size: 1.2em;
		margin: 0 auto;
		padding: 10px 20px;
	}
}


/* FLOATING MENU */
.menuTop {
	font-family: Roboto;
	font-size: 1.5em;
	position: fixed;
	background-color: white;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media only screen and (max-width: 768px) {
		display: none;
	}

	&__lang {
		background-color: $grisMenu;
		width: 100%;
		height: 50px;
		
		&--inner {
			max-width: 1200px;
			text-align: right;
			margin: 0 auto;
			padding: 13px 0;
		}
		a {
			padding: 0 10px;
			font-family: Roboto;
			font-weight: 300;
		}
	}

	&__menu {
		height: 150px;
		width: 100%;
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		
		&--logo img {
			height: 100px;
			padding: 25px 0 0 50px;
		}

		&--links {
			padding: 60px 0;
			
			li {
				display: inline;
				padding: 0 10px 0 30px;
			}
		}
	}
}

.menuTopMobile {
	height: 97px;
	width: 100%;
	background-color: white;
	border-bottom: 3px solid grey; 
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;

	@media only screen and (max-width: 768px) {
		display: block;
	}

	&__logo {
		height: 80px;
		padding: 10px 0 10px 60px;
		float: left;
	}

	&__menu {
		float: right;
		height: 50px;
		padding: 25px 40px 25px 0;
	}
}


/* MENU AND HEADER */
.header {
	height: 1100px;
	width: 100%;
	background-image: url("../images/nattu-adnan-328570-unsplash.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: white;

	@media only screen and (max-width: 768px) {
		height: 460px;
	}
}

.menu {
	font-family: Roboto;
	font-size: 1.5em;
	width: 100%;
	color: white;

	@media only screen and (max-width: 768px) {
		display: none;
	}
	
	a {
		color: white;
	}

	&__lang {
		background-color: rgba(255, 255, 255, 0.3);
		width: 100%;
		height: 50px;
		
		&--inner {
			max-width: 1200px;
			text-align: right;
			margin: 0 auto;
			padding: 13px 0;
			
			a {
				padding: 0 10px;
				font-family: Roboto;
				font-weight: 300;
			}
		}
	}

	&__menu {
		height: 150px;
		width: 100%;
		max-width: 1200px;
		text-align: center;
		margin: 0 auto;
		
		&--links {
			padding: 60px 0;
		
			li {
				display: inline;
				padding: 0 10px;
			}
		}
	}
}

.logoHeader {
	margin: 100px 0 0;
	text-align: center;
	
	img {
		max-width: 550px;
		width: 80%;
		margin: 50px 0 0;
	}
}

.menuMobile {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: white;

	@media only screen and (max-width: 768px) {
		display: block;
	}

	&__close {
		position: fixed;
		top: 30px;
		right: 40px;
		width: 50px;
		color: $grisIcones;
		width: 40px;
	}

	&__info {
		margin: 20% auto 0;
		text-align: center;

		&--logo {
			height: 100px;
		}

		&--menu {
			font-family: Roboto;
			font-size: 1.87em;
			margin: 20px 0 0;

			li {
				line-height: 70px;

				@media only screen and (max-width: 360px) {
					line-height: 50px;
				}
			}
		}

		&--lang {
			font-size: 1.56em;
			margin: 50px 0 0;
		}
	}
}

/* TRIANGLES */
.quadratDescubrenos {
	width: 100%;
	background-color: $rosaFormes;
}

.triangleDescubrenos {
	height: 0;
	width: 0;
	margin: 0 auto;
	border-style: solid;
	border-color: transparent; 
	border-top-style: solid;
	border-top-color: $rosaFormes;
	border-top-width: 550px;
}

.trianglesBlog {
	width: 100%;
	height: 1000px;
	margin: -100px 0 0 0;

	@media only screen and (max-width: 768px) {
		margin: 0;
	}
	
	&__dre {
		height: 0;
		width: 0;
		right: 0;
		margin: 0 0 0 auto;
		border-top-style: solid;
		border-top-color: transparent;
		border-bottom-style: solid;
		border-bottom-color: transparent;
		border-right-style: solid;
		border-right-color: $carbassaFormes;
	}

	&__esq {
		height: 0;
		width: 0;
		border-top-style: solid;
		border-top-color: transparent;
		border-bottom-style: solid;
		border-bottom-color: transparent;
		border-left-style: solid;
		border-left-color: $rosaFormes;
	}

}

/* DESCUBRENOS */
.descubrenos {
	max-width: 1200px;
	width: 100%;
	margin: -550px auto 0;
	padding: 70px 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media only screen and (max-width: 768px) {
		width: auto;
		max-width: 100%;
		padding: 20px 40px 0;
	}

	h2 {
		text-align: center;
		width: 100%;
	}
}

.descubrenosContent {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin: 100px 0 0;

	@media only screen and (max-width: 768px) {
		margin: 20px 0 0;
	}

	&__image {
		width: 50%;

		@media only screen and (max-width: 768px) {
			width: 100%;
		}

		img {
			padding: 20px;
			height: auto;
			width: 100%;
			max-height: calc(100% - 40px);
			max-width: calc(100% - 40px);

			@media only screen and (max-width: 768px) {
				padding: 20px 0;
				width: 100%;
			}
		}
	}
	
	&__text {
		width: 50%;
		max-width: 450px;

		@media only screen and (max-width: 768px) {
			width: 100%;
			max-width: 100%;
		}

		p {
			margin: 100px 0;
			padding: 0 20px;
			line-height: 1.6em;

			@media only screen and (max-width: 768px) {
				padding: 0;
			}
		}
	}
}

/* LOOKBOOK */
.lookbook {
	width: 100%;

	@media only screen and (max-width: 768px) {
		width: auto;
		padding: 0 40px;
	}

	h2 {
	 	max-width: 1200px;
	 	margin: 150px auto 70px;

	 	@media only screen and (max-width: 768px) {
	 		margin: 100px 0 0;
		}
	}

	&__image {
	 	img {
	 		width: 100%;

	 		@media only screen and (max-width: 768px) {
				display: none;	
			}
	 	}
	}

	&__gallery {
	 	max-width: 1200px;
	 	margin: 70px auto 0;
	 	display: flex;
	 	flex-wrap: wrap;
	 	justify-content: center;

	 	&--images {
	 		width: 200px;
	 		height: 200px;

	 		@media only screen and (max-width: 425px) {
				width: 120px;
				height: 120px;
			}

	 		img {
	 			padding: 10px;
	 			height: 180px;
	 			width: 180px;

	 			@media only screen and (max-width: 425px) {
	 				padding: 5px;
					height: 110px;
	 				width: 110px;
				}
	 		}
	 	}

	}
 	&__button {
 		margin: 70px auto 0;
 	}
}

/* BLOG */
.blog {
	width: 100%;
	max-width: 1200px;
	margin: -600px auto 0;

	@media only screen and (max-width: 768px) {
		width: auto;
		padding: 0 40px;
		margin: -900px auto 0;
	}

	&__button {
		margin: 50px auto 0;

	}
}

.blogEntries {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0 0;

	&__entry {
		width: 25%;

		@media only screen and (max-width: 768px) {
			width: 100%;
			background-color: white;
		}

		&--images {
			padding: 10px;

			@media only screen and (max-width: 768px) {
				padding: 0;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		&--text {
			padding: 10px;
			font-family: Oswald;
			font-size: 2.25em;

			@media only screen and (max-width: 768px) {
				font-size: 1.8em;
			}
		}

		&--date {
			font-family: Roboto;
			font-size: 0.6em;
			color: grey;
			padding: 10px 0 0;
			display: none;

			@media only screen and (max-width: 768px) {
				display: block;
			}
		}
	}
}

/* SUSCRIBETE */
.suscribete {
	margin: 250px auto 0;
	max-width: 1200px;
	width: 100%;

	@media only screen and (max-width: 768px) {
		margin: 100px auto 0;
	}
}

.suscribeteContent {
	display: flex;
	flex-wrap: wrap;

	&__form {
		width: 50%;
		font-weight: 300;
		padding: 50px 0 0;
		order: 1;

		@media only screen and (max-width: 768px) {
			width: auto;
			padding: 50px 40px 0;
			order: 2;
		}

		h2 {
			padding: 0 0 0 20px;

			@media only screen and (max-width: 768px) {
				padding: 0;
			}
		}

		b, a {
			font-weight: 500;
		}

		form {
			padding: 50px 50px 0;

			@media only screen and (max-width: 768px) {
				padding: 50px 0 0;
			}
		}

		&--info {
			font-size: 1.06em;
		}

		&--mail {
			width: 285px;
			padding: 5px 10px;
			font-family: Montserrat;
			font-size: 0.9em;
			font-weight: 300;
			border: solid 4px $grisBotons;
			margin: 20px 0 0;

			@media only screen and (max-width: 768px) {
				width: calc(100% - 20px);
			}

			&:focus {
				outline: none;
			}
		}

		&--privacy {
			font-size: 0.81em;
			margin: 20px 0 0;
		}

		&--submit {
			border: none;
			cursor: pointer;
			margin: 20px 0 0;
			padding: 5px 50px;
			background-color: $grisBotons;
			width: max-content;
			font-family: Roboto;
			font-size: 1.9em;
			text-align: center;

			@media only screen and (max-width: 768px) {
				font-size: 1.5em;
			}

			&:focus {
				outline: none;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__image {
		width: 50%;
		order: 2;

		@media only screen and (max-width: 1200px) {
			width: 50%;
		}

		@media only screen and (max-width: 768px) {
			width: 100%;
			order: 1;
		}

		img {
			width: 850px;
			height: auto;

			@media only screen and (max-width: 1720px) {
				width: 100%;
				margin: 50px 0 0;
			}
		}
	}
}

/* FOOTER */
footer {
	margin: 120px 0 0;
	width: 100%;
	border-top: 2px solid $grisFooter;
}

.footerTop {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__info {
		margin: 0 20px;
		order: 1;

		@media only screen and (max-width: 768px) {
			order: 2;
			text-align: center;
			width: 100%;
			text-align: center;
		}

		&--collection {
			@media only screen and (max-width: 768px) {
				display: none;
			}
		}

		p {
			line-height: 35px;
		}

		span {
			margin: 0 25px 0 0;
		}

		&--links {
			margin: 20px 0 0;

			@media only screen and (max-width: 768px) {
				text-align: center;
				margin: 0 auto;
			}

			a {
				margin: 0 20px 0 0;

				@media only screen and (max-width: 768px) {
					line-height: 35px;
					margin: 0;
				}
			}
			@media only screen and (max-width: 768px) {
				a::after {
					content: "";
					display: block;
				}
			}
		}
	}

	&__social {
		margin: auto 20px;
		padding: 20px 0;
		order: 2;

		@media only screen and (max-width: 768px) {
			order: 1;
			margin: 0 auto;
		}

		img {
			height: 40px;
			padding: 5px;
		}
	}
}

.footerBottom {
	background-color: $grisFooter;
	text-align: left;
	padding: 10px 0;

	p {
		max-width: 1200px;
		margin: 0 auto;
		font-family: Roboto;
		font-weight: 300;
		padding: 0 20px;
	}

	&__link {
		color: $verdLinkFooter;
	}
}